{% extends 'dampak/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">
<h1>
    Delete Berita
</h1>
<div class="container">
			<p>Apakah anda yakin ingin menghapus berita dengan judul "{{dampak}}"?</p>

			<form action="{% url 'delete_berita' dampak.id  %}" method="POST">
				
                {% csrf_token %}
                <div class="text-center">
                    <input  type="submit" class="btn btn-danger" value="Hapus">
                    <a class="btn btn-warning" href="{% url 'webpage5' %}">Batal</a>
                </div>
				
			</form>	
</div>
{% endblock %}