{% extends 'dampak/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">
    <body>
        <div class="container">
            <h1>
                Lihat Berita 
            </h1>
            <p>
                Berita yang tersedia di database kami
            </p>
        </div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Judul Berita</th>
                <th scope="col">Detail Berita</th>
              </tr>
            </thead>
            <tbody>
              {% for i in dampaks %}
                <tr>
                  <td>
                    {{i.nama_berita}}
                  </td>
                  <td><a class="btn btn-sm btn-info" href="{% url 'detail_berita' i.id %}">Detail</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          
          
{% endblock %}