{% extends 'dampak/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">
    <body>
        <div class="container">
            <h1>
                Lihat Berita
            </h1>
            <p>
                Berita yang tersedia di database kami
            </p>
        </div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                
                <th scope="col">Judul Berita</th>
                <th scope="col">Nama Penulis</th>
                <th scope="col">Isi Berita</th>
                <th scope="col">Update Berita</th>
                <th scope="col">Delete Berita</th>
                
              </tr>
            </thead>
            <tbody>
              {% for i in dampaks %}
                <tr>
                  <td>
                    {{i.nama_berita}}
                  </td>
                  <td>
                    {{i.nama_penulis}}
                  </td>
                  <td>
                    {{i.isi_berita}}
                  </td>
                  <td><a class="btn btn-sm btn-info" href="{% url 'update_berita' i.id %}">Update</a></td>
                  <td><a class="btn btn-sm btn-danger" href="{% url 'delete_berita' i.id %}">Delete</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          
{% endblock %}