{% extends 'dampak/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">


<div class="col">
          
          <h1>
            Lihat Berita
        </h1>
        <p>
            Berita yang tersedia di database kami
        </p>
        
        <table class="table">
            {% csrf_token %}
            <thead class="thead-dark">
              <tr>
                <th scope="col">Judul Berita</th>
                <th scope="col">Nama Penulis</th>
                <th scope="col">Isi Berita</th>
                <th scope="col">Update Berita</th>
                <th scope="col">Delete Berita</th>
              </tr>
            </thead>
            <tbody>
                {% for i in dampak %}
                  <tr>
                    <td>
                      {{i.nama_berita}}
                    </td>
                    <td>
                      {{i.nama_penulis}}
                    </td>
                    <td>
                      {{i.isi_berita}}
                    </td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_berita' i.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_berita' i.id %}">Delete</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="text-center">
              <a class="btn btn-sm btn-success" href="{% url 'webpage5'%}">Mundur</a>
            </div>
            
				
			

		
	
</div>


{% endblock %}