{% extends 'dampak/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">
    <body>
        <div class="container">
            <h1>
                Tambah Berita
            </h1>
        </div>
        <form action="/tambahSubmisi/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleFormControlInput1">Judul Berita</label>
              <input name="nama_berita" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Judul Singkat Berita">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nama Penulis</label>
                <input name="nama_penulis" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nama Penulis Berita">
              </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Isi Berita</label>
              <textarea name="isi_berita" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Tambah">
          </form>
          
    
{% endblock %}